<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../style/control.css">
    <link rel="stylesheet" href="http://maxiang.qiniudn.com/app/css/app.css?1408270014">
    <title>博客</title>
</head>
<body class="body">
    <div class="blog-item"><!-- 广告位：广告推广 -->
<script type="text/javascript" >BAIDU_CLB_SLOT_ID = "1124388";</script>
<script type="text/javascript" src="http://cbjs.baidu.com/js/o.js"></script>        <!-- UY BEGIN -->
        <div id="uyan_frame" style="margin-top: 50px;"></div>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1957046"></script>
        <!-- UY END -->
    </div>
</body>
</html>